*{
	margin: 0;
	padding: 0;
}
.navbar{
border: none;
background-color: #1560bd;
background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% );
}
body{
	background-color: #0047AB;
	background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);	
}
.glyphicon{
	font-size: 30px;
	color:blanchedalmond; 
}

.center{
	width: 90%;
	background-color: #0066b2;

}
.container
{
	background-color: #89CFF0;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: ;
}
.navbar-brand{
font-size: 30px;	
}